
        @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Russo+One&family=Roboto Condensed&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Dosis&family=Roboto Condensed&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Inter&family=Roboto Condensed&display=swap');

        @import url('https://fonts.googleapis.com/css2?family=Rubik&family=Rubik+Bubbles&family=Russo+One&family=Smooch&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .navbar{
            width: 100%;
            height: 56px;
            background-color:black;
             display: flex;
             justify-content: space-between;
             align-items: center;
             position: fixed;
             top: 0;
             
        }
        .navbar .bar{
             color: rgb(174, 173, 173);
             font-size: 20px;
             padding-top: 20%;
             margin-left: -14%;
        }
        .navbar .logo{
            display: flex;
            margin-left: 50px;
            cursor: pointer;
        }
        .navbar .logo img{
              width: 45px;
              height: 35px;
              margin-left: 20px;
              cursor: pointer;
        }
        .navbar .logo h1{
             color: #f2eeee;
             font-family:Roboto Condensed;
             font-size: larger;
             padding-top: 5px;
             position: absolute;
             left: 7%;
             cursor: pointer;
        }
        .input input{
            width: 600px;
            height: 40px;
            border: 3px solid rgb(37, 36, 36);
            outline: none;
            border-radius: 50px;
            color: azure;
            background-color: rgb(6, 6, 6);
            text-indent: 3%;
            font-size: 15px;
            margin-left: -30px;
        }
        .input .glass{
             color: rgb(157, 156, 156);
             margin-left: -40px;
             width: 60px;
             height: 40px;
             border-radius:0px 50px 50px 0px;
             background-color: rgb(37, 36, 36);
             position: absolute;
             text-align: center;
             font-size: 18px;
             padding-top: 12px;
             cursor: pointer;
        }
        .input .mic{
             color: #fff;
             margin-left: 30px;
             width: 40px;
             height: 40px;
             border-radius: 50%;
             background-color: rgb(37, 36, 36);
             text-align: center;
             padding-top: 10px;
             position: absolute;
             top: 3;
             cursor: pointer;
        }
        .create {
             color: rgb(183, 181, 181);
             margin-right: 100px;
        }
        .create i{
             font-size: 18px;
             margin: 0px 10px;
             cursor: pointer;
        }
        .create button{
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: rgb(83, 82, 82);
              color: #fff;
              border: none;
              left: 95%;
              position: absolute;
              top: 20%;
              cursor: pointer;
        }
        .side-navbar{
           width: 250px;
           height: 190vh;
           overflow: auto;
           position: fixed;
           background-color: black;
           display: flex;
           justify-content: space-between;
        } 
        .side-btns{
            width: 250px;
            height: 100vh;
             overflow:scroll;
             overflow-x: hidden;
             overflow-y: auto;
             
        }
        .side-btns::-webkit-scrollbar{
               display: none;
        }
        .side-btns:hover::-webkit-scrollbar{
               display: block;
               width: 8px;

        }
        .side-btns::-webkit-scrollbar-thumb{
              background: linear-gradient( rgb(2, 2, 2), rgb(173, 171, 171));
        }
        .side-navbar h2,i{
              color: rgb(225, 222, 222);
        }
        .side-navbar .div1{
               padding-top: 90px;
               color: white;
               cursor: pointer;
        }
        .side-navbar .div1 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div1 i{
               font-size: 16px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 28px;
               gap: 28px;
               padding-top: 7px;
               
        }
        .side-navbar .div1 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div2{
               padding-top: 3px;
               color: white;
               cursor: pointer;
        }
        .side-navbar .div2 h2{
               font-size: 16px;
               padding-left:1.5px;
               font-weight: lighter;
               font-family: Dosis;
        }
        .side-navbar .div2 i{
               font-size: 20px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div2 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div3{
               padding-top: 3px;
               color: white;
               cursor: pointer;
        }
        .side-navbar .div3 h2{
               font-size: 16px;
               padding-left: 0px;
               font-weight: lighter;
               font-family: Dosis;
        }
        .side-navbar .div3 i{
               font-size: 17px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div3 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div4{
               padding-top: 5px;
               color: white;
        }
        .side-navbar .div4:hover{
             cursor: text;
             background-color: black;

        }
        .side-navbar .div4 h2{
               font-size: 18px;
               padding-left: 25px;
               font-family: Dosis;
        }
        .side-navbar .div5{
               padding-top: 18px;
               color: white;
               cursor: pointer;
        }
        .side-navbar .div5 h2{
               font-size: 16px;
               font-weight: lighter;
               font-family: Dosis;
        }
        .side-navbar .div5 i{
               font-size: 20px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 29px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div5 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div6{
               padding-top: 3px;
               color: white;
               cursor: pointer;
        }
        .side-navbar .div6 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div6 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div6 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div7{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div7 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div7 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div7 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div8{
               padding-top: 20px;
               color: white;
        }
        .side-navbar .div8 h2{
               font-size: 18px;
               padding-left: 25px;
               font-family: Dosis;
        }
        .side-navbar .div9{
            cursor: pointer;
               padding-top: 15px;
               color: white;
        }
        .side-navbar .div9 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div9 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div9 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div10{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div10 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div10 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div10 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div11{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div11 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div11 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div11 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div12{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div12 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div12 i{
               font-size:21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div12 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div13{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div13 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div13 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div13 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div14{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div14 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div14 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div14 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div15{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div15 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div15 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div15 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div16{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div16 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div16 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div16 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div17{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div17 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: 3px;
        }
        .side-navbar .div17 i{
               font-size: 23px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div17 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div18{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div18 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: -20px;
        }
        .side-navbar .div18 i{
               font-size: 18px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div18 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div19{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div19 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: 4px;
        }
        .side-navbar .div19 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div19 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div20{
               padding-top: 20px;
               color: white;
        }
        .side-navbar .div20 h2{
               font-size: 18px;
               padding-left: 25px;
               font-family: Dosis;
        }
        .side-navbar .div21{
            cursor: pointer;
               padding-top: 12px;
               color: white;
        }
        .side-navbar .div21 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: -10px;
        }
        .side-navbar .div21 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
               color: red;
        }
        .side-navbar .div21 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div22{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div22 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: 3px;
        }
        .side-navbar .div22 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
               color: red;
        }
        .side-navbar .div22 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div23{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div23 h2{
               font-size: 16px;
               font-family: Dosis;
               padding-left: 3.5px;
        }
        .side-navbar .div23 i{
               font-size: 15px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 33px;
               gap: 28px;
               padding-top: 7px;
               color: red;
        }
        .side-navbar .div23 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div24{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div24 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div24 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div24 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div25{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div25 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div25 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div25 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div26{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div26 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div26 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div26 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div27{
            cursor: pointer;
               padding-top: 3px;
               color: white;
        }
        .side-navbar .div27 h2{
               font-size: 16px;
               font-family: Dosis;
        }
        .side-navbar .div27 i{
               font-size: 21px;
               width: 230px;
               height: 35px;
               background-color: black;
               border-radius: 20px;
               display: flex;
               padding-left: 30px;
               gap: 28px;
               padding-top: 7px;
        }
        .side-navbar .div27 i:hover{
                background-color: rgb(47, 45, 45);
                transition: 0.3s;
        }
        .side-navbar .div28{
               padding-top: 25px;
               color: rgb(211, 207, 207);
        }
        .side-navbar .div28 p{
               font-size: 12px;
               font-family: Dosis;
               padding-left: 30px;
               width: 210px;
        }
        .child-navbar{
               height: 49px;
                width: 1285.5px;
              background-color: black;
              position: fixed;
              top: 7.7%;
              left: 16.3%;
              overflow: auto;
              z-index: 100;
        }
        .scroll-navbar{
                height: 37px;
                width: 1230px;
                overflow: scroll;
                overflow-y: hidden;
                overflow-x: auto;
                display: flex;
                gap: 10px;
        }
        .scroll-navbar::-webkit-scrollbar{
                 display: none;
        }
        .scroll-navbar  button{
              padding: 12px;
              border-radius: 9px;
              border: none;
              background-color: rgb(46, 45, 45);
              color: rgb(233, 229, 229);
              transition: 0.8s;
        }
        .child-navbar button:hover{
                 background-color: rgb(99, 96, 96);
                 transition: 0.8s;
                 cursor: pointer;
        }
        .container{
             width: 100%;
             height: 407vh;
             background-color: black;
             display:block;
        }
        ::-webkit-scrollbar{
               width: 5px;
               background-color: black;
        }
        ::-webkit-scrollbar-thumb{
                background: linear-gradient(black,red);
                border-radius: 10px;
        }
        .list-container .video-card{
                 width: 1220px;
                 height: 250px;
                 border-radius: 20px;
                 cursor: pointer;
        }
        .list-container .video-card video{
                 border-radius: 10px;
                 cursor: pointer;
        }
        .list-container{
              padding-top: 7%;
              margin-left: 16.6%;
        }
        .list-cards{
               display: flex;
               flex-wrap: wrap;
               padding-top: 3%;
               cursor: pointer;
        }

        .div-card1 .card img{
                 width: 395px;
                 height: 220px;
                 border-radius: 10px;
        }
        .card-body {
              display: flex;
              gap: 30px;
              width: 380px;
        }
        .card-body p{
             color: rgb(240, 234, 234);
             font-family:Inter;
             font-weight: 600;
             font-size: 15px;
             padding-top: 5px;
        }
        .card-body .profile img{
            width: 35px;
            height: 35px;
            padding-top: 5px;
            border-radius: 50%;
            object-fit: cover;
        }
        .name-profile p{
              color: rgb(141, 138, 138);
              font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
              padding-left: 17%;
              padding-top: 1.5%;
        }
        .views p{
            color: rgb(141, 138, 138);
            padding-left: 17%;
              padding-top: 1%;
        }
        .youtube-cards{
              display: flex;
              flex-wrap: wrap;
              margin-left: 16.6%;
              gap: 18px;
              margin-top: 1%;
        }
        .container2 .shorts h2{
               font-size: 25px;
               color: white;
               font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .container2 .shorts i{
            padding-top: 2%;
            margin-left: 16.6%;
            font-size: 30px;
            display: flex;
            gap: 15px;
            color: red;
        }
        .container2 .card1 img{
               width: 240px;
               height: 440px;
               border-radius: 10px;
        }
        .container2 .div-shorts{
              padding-top: 1%;
              padding-left: 16.6%;
        }
        .container2 .card-body{
                 width: 250px;
                 display: flex;
                 flex-direction:column;
        }
        .container2 .views{
               margin-top: -11%;
               margin-left: -18%;
        }
        .container2 .reels{
              display: flex;
        }
        .shorts-container{
             width: 100%;
             height: 100vh;
             background-color:black;
             overflow: auto;
             display: none;
             
        }
        .reel-box{
             width: 440px;
             height: 91vh;
             background-color:black;
             margin-left: 630px;
             margin-top:60px;
             border-radius: 20px;
             overflow: auto;
             overflow-y: scroll;
             overflow-x: hidden;
             scroll-snap-type:y mandatory;
              
        }
        .reels{
             flex-wrap: wrap;
             width: 1250px;
             height: 509px;
             overflow: hidden;
             border-radius: 10px;
        }
        .reels::-webkit-scrollbar{
              display: none;
        }
        .reel-box .reel{
              width: 440px;
              height: 600px;
              background-color:black;
              border-radius: 20px;
              overflow: scroll;
              overflow-y: auto;
              scroll-snap-align: start;
        }
        .reel-box::-webkit-scrollbar{
             display: none;
        }
        .reel-btns .bt{
                width: 50px;
                height: 50px;
                background-color: rgb(121, 119, 119);
                border-radius: 50%;
                text-align: center;    
        }
        .bt i{
            font-size: 22px;
            color: white;
            line-height: 50px;
            cursor: pointer;
            
        }
        .bt h5{
            font-size: 15px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 200;
            margin-top: -12px;
        }
        .reel-btns{
              margin-left: 88.5%;
              margin-top: -120%;
        }
        .reel-btns .bt{
               margin-top: 36px;
        }
        .reel-1 video{
             width: 440px;
             height: 579px;
        }
        .Subscriptions-container{
               width: 100%;
               height: 350vh;
               background-color:black;
               display: none;  
        }
        .sports-section{
              padding-top: 7%;
              margin-left: 16.4%;
        }
        .div1-card1 .card-1 img{
                width: 103px;
                height: 103px;
                border-radius: 50%;
        }
        .div1-card1 .card-1{
              width: 130px;
              height: 180px;
              text-align: center;
              cursor: pointer;
        }
        .card-body1{
              text-align: center;
              
        }
        .card-body1 .thumbnail{
              font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
              color: #f1f1f1;
        }
        .card-body1 .profile{
              padding-top: 16px;
        }
        .card-body1 .profile button{
              padding: 8px; 
              border-radius: 20px;
               background-color: rgb(34, 33, 33);
                border: none; 
                color: #c7c2c2;
                font-family: Rubik;
                cursor: pointer;
        }
        .card-body1 .profile button:hover{
               background-color:rgb(59, 57, 57);
               transition: 0.5s;
        }
        .sub-1{
              width: 1150px;
              height: 70vh;
              margin-left: 3%;
              background-color: black;
              flex-wrap: wrap;
              display: flex;
              justify-content: center;
              gap: 80px;
              align-items: center;
              
        }
        .sub-2{
              width: 1150px;
              height: 70vh;
              margin-left: 3%;
              background-color: black;
              flex-wrap: wrap;
              display: flex;
              justify-content: center;
              gap: 80px;
              align-items: center;
              
        }
        .head-line{
               display: flex;
               gap: 80%;
               margin-top: -4%;
               color: #f1f1f1;
        }
        .head-line i{
               font-size: 25px;
        }
        .head-line h1{
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              margin-left: 3%;
              font-size: 20px;
        }
        .history-section{
            width: 100%;
            height: 310vh;
            background-color:black;
            display: none;
        }
        .watch-history{
           padding-top: 4%;
            margin-left: 20.4%;
            width: 700px;
            height: 310vh;
            background-color: black;
           
        }
        .history-box{
              width: 700px;
              background-color: black;
              display: flex;
              overflow: scroll;
              gap: 10px;
        }
        .history-box::-webkit-scrollbar{
                   display: none;
        }
        .history-box img{
                width: 200px;
                height: 340px;
                border-radius: 10px;
        }
        .card-body2 p{
            color: rgb(235, 230, 230);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            padding-top: 6px;
        }
        .views2 p{
              color: rgb(138, 136, 136);
        }
        .div3 img{
             width: 246px;
             height: 138px;
             border-radius: 5px;
        }
        .div3{
          display: flex;
          gap: 20px;
          padding: 5px 0px;
        }
        .history{
           padding-top: 5%;
        }
        .card-body3 p{
            color: white;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        .search-here{
           width: 400px;
           height: 500px;
           background-color: black;
           position: fixed;
           top: 20%;
           left: 73%;
        }
        .ss1 .glass{
              color: rgb(83, 81, 81);
              font-size: 20px;
        }
        .ss2,.ss3,.ss4{
            padding-top: 40px;
        }
        .ss1 input{
            width: 175px;
            height: 40px;
            border: none;
            background-color: black;
            text-indent: 5%;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
            color: white;
            font-weight: 500;
            padding-left: 15px;
            outline: none;
        }
        .watch-later{
            width: 100%;
            height: 190vh;
            background-color: black;
            display: none;
        }
        .liked-videos{
            width: 100%;
            height: 245vh;
            background-color: black;
            display: none;
        }
        .videos{
          padding-top: 6%;
          margin-left: 16%;
          width: 1280px;
           display: flex;
           justify-content: space-around;
          
             
        }
        .box1{
           width: 380px;
           height: 84vh;
           background: linear-gradient(2deg,rgba(128, 128, 128, 0.092),rgba(129, 127, 127, 0.705));
           border-radius: 10px;
           position: fixed;
           top: 12%;
           left: 18%;
        }
        .watch-later{
           text-align: center;
          
        }
        .liked-videos{
           text-align: center;
          
        }
        .watch{
            margin-top: 30px;
            
        }
        .watch img{
           border-radius: 10px;
        }
        .watch h1{
           color: #ffff;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           font-size: 26px;
           margin-right: 180px;
           padding-top: 20px;
        }
        .watch p{
           color: #a79f9f;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           font-size: 14px;
           margin-right: 90px;
           padding-top: 30px;

        }
        .link{
           padding-top: 10px;
           margin-right: 232px;
        }
        .link .bt{
           width: 45px;
           height: 45px;
           border-radius: 50%;
           background-color: rgb(60, 57, 57);
           font-size: 19px;
           text-align: center;
           line-height: 42px;
           
        }
        .btnss{
           padding-top: 15px;
           width: 380px;

        }
        .btnss i{
           color: black;
           font-size: 17px;
           padding-right: 10px;
        }
        .btnss button{
           padding: 8px 40px;
           font-size: 17px;
           border-radius: 20px;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           font-weight: 400;

        }
        .recent-videos{
          padding-left: 25%;
          cursor: pointer;
          
        } 
        .recent-videos .div4{
              padding-top: 1%;
              display: flex;
              height: 125px;
              padding-left: 1%;
              width: 770px;
             
        }
        .div4:hover{
           background-color: #c7c2c22d;
           border-radius: 15px;
           transition: 0.6s;
        }
        .recent-videos .div4 img{
              width: 200px;
              border-radius: 5px;
        }
        .liked-videos .btn-div{
           padding-right: 73%;
           
        }
        .liked-videos .btn-div button{
              padding: 7px 12px;
              font-family: rubik;
              font-weight: 800;
              font-size: 15px;
              border-radius: 10px;
              border: none;
              cursor: pointer;

        }
        .recent2{
             padding-top: 3%;
             width: 750px;
             background-color: black;
            flex-wrap: wrap;
             display: flex;
             gap: 10px;
             padding-left: 10%;
        }
        .recent2 .div6 img{
            width: 200px;
            height: 350px;
            border-radius: 5px;
        }
        .recent2 .div6 p{
             color: white;
             width: 200px;
        }
      .recent2 .views6 p{
            color: rgb(133, 128, 128);
      }
      .cristiano{
         width: 100%;
         height: fit-content;
         background-color: black;
         display: none;
      }
      .ronaldo-videos{
        padding-top: 7%;
        margin-left: 16.6%;
        display: flex;
        flex-wrap: wrap;
        gap:18px ;
      }

      .TeluguMovies{
       width: 100%;
       height: fit-content;
       background-color: black;
       display: none;
    }
    .Telugu-videos{
      padding-top: 7%;
      margin-left: 16.6%;
      display: flex;
      flex-wrap: wrap;
      gap:18px ;
    }
